/dts-v1/;

#include <st/h7/stm32h723Xg.dtsi>
#include <st/h7/stm32h723zgtx-pinctrl.dtsi>
#include <zephyr/dt-bindings/input/input-event-codes.h>

/ {
	model = "PARP-01 Custom Board based on STM32H723ZG";
	compatible = "st,stm32h723zg-nucleo";

	chosen {
		zephyr,console = &usart1;
		zephyr,shell-uart = &usart1;
		zephyr,sram = &sram0;
		zephyr,flash = &flash0;
		zephyr,dtcm = &dtcm;
		zephyr,code-partition = &slot0_partition;
	};

	/* Custom LEDs */
	leds {
		compatible = "gpio-leds";

		led0: led_0 {
			gpios = <&gpioe 2 GPIO_ACTIVE_HIGH>;
			label = "LED0";
		};

		led1: led_1 {
			gpios = <&gpioe 3 GPIO_ACTIVE_HIGH>;
			label = "LED1";
		};

		test_led: led_test {
			gpios = <&gpioe 6 GPIO_ACTIVE_HIGH>;
			label = "TEST_LED";
		};
	};

	/* Custom GPIO Keys (Switches) */
	gpio_keys {
		compatible = "gpio-keys";

		sw0: switch_0 {
			gpios = <&gpiod 10 (GPIO_ACTIVE_LOW | GPIO_PULL_UP)>;
			label = "SW0";
			zephyr,code = <INPUT_KEY_0>;
		};

		sw1: switch_1 {
			gpios = <&gpiod 11 (GPIO_ACTIVE_LOW | GPIO_PULL_UP)>;
			label = "SW1";
			zephyr,code = <INPUT_KEY_1>;
		};

		e310_beep: e310_beep {
			gpios = <&gpiog 0 GPIO_ACTIVE_HIGH>;
			label = "TY928_BEEP";
			zephyr,code = <INPUT_KEY_2>;
		};
	};

	/* DI/DO pins for beeper and RGB LED */
	dio {
		compatible = "gpio-leds";

		beep_out: beep_out {
			gpios = <&gpiof 8 GPIO_ACTIVE_HIGH>;
			label = "BEEP_FROM_MCU";
		};

		rgb_led_sig: rgb_led_sig {
			gpios = <&gpiog 2 GPIO_ACTIVE_HIGH>;
			label = "RGB_LED_SIG";
		};

		/* PD13 - Switch power supply (must output LOW for SW0/SW1) */
		sw_pwr: sw_pwr {
			gpios = <&gpiod 13 GPIO_ACTIVE_HIGH>;
			label = "SW_PWR";
		};
	};

	aliases {
		led0 = &led0;
		led1 = &led1;
		testled = &test_led;
		sw0 = &sw0;
		sw1 = &sw1;
		eeprom-0 = &eeprom0;
		beep-out = &beep_out;
		rgb-led = &rgb_led_sig;
		e310-beep = &e310_beep;
		sw-pwr = &sw_pwr;
	};
};

/* Clock Configuration - Custom Board with External Crystals
 * HSE: 8MHz external crystal (NOT bypass - real crystal oscillator)
 * LSE: 32.768kHz external crystal for RTC
 * HSI: Keep enabled as backup
 * HSI48: For USB (matches STM32CubeIDE config)
 */

&clk_hse {
	clock-frequency = <DT_FREQ_M(8)>;
	status = "okay";
};

&clk_lse {
	clock-frequency = <32768>;
	status = "disabled";
};

&clk_lsi {
	status = "okay";
};

&clk_hsi {
	status = "okay";
};

&clk_hsi48 {
	status = "okay";
};

/* PLL Configuration - 550MHz SYSCLK (Same as official Nucleo H723ZG)
 *
 * STM32H723 Maximum Frequencies:
 *   - SYSCLK max: 550 MHz
 *   - AHB max: 275 MHz
 *   - APBx max: 137.5 MHz
 *
 * Configuration:
 *   HSE = 8MHz external crystal
 *   M=4 -> VCO input = 2MHz
 *   N=275 -> VCO output = 550MHz
 *   P=1 -> SYSCLK = 550MHz
 *   Q=4 -> 137.5MHz output for peripherals
 *   R=2 -> 275MHz output
 */
&pll {
	div-m = <4>;
	mul-n = <275>;
	div-p = <1>;
	div-q = <4>;
	div-r = <2>;
	clocks = <&clk_hse>;
	status = "okay";
};

/* RCC Configuration for 550MHz SYSCLK (Same as official Nucleo H723ZG)
 *
 * SYSCLK = 550 MHz
 * HCLK = SYSCLK / 2 = 275 MHz
 * APBx = HCLK / 2 = 137.5 MHz
 */
&rcc {
	clocks = <&pll>;
	clock-frequency = <DT_FREQ_M(550)>;
	d1cpre = <1>;
	hpre = <2>;    /* HCLK = SYSCLK / 2 = 275 MHz */
	d1ppre = <2>;  /* APB3 = HCLK / 2 = 137.5 MHz */
	d2ppre1 = <2>; /* APB1 = HCLK / 2 = 137.5 MHz */
	d2ppre2 = <2>; /* APB2 = HCLK / 2 = 137.5 MHz (USART1) */
	d3ppre = <2>;  /* APB4 = HCLK / 2 = 137.5 MHz */
};

/* Power supply configuration */
&pwr {
	power-supply = "ldo";
};

/* UART1 - Console (PB14-TX, PB15-RX) */
&usart1 {
	pinctrl-0 = <&usart1_tx_pb14 &usart1_rx_pb15>;
	pinctrl-names = "default";
	current-speed = <115200>;
	status = "okay";
};

/* UART4 (PD0-RX, PD1-TX) */
&uart4 {
	pinctrl-0 = <&uart4_tx_pd1 &uart4_rx_pd0>;
	pinctrl-names = "default";
	current-speed = <115200>;
	status = "okay";
};

/* UART5 (PB6-TX, PB5-RX) */
&uart5 {
	pinctrl-0 = <&uart5_tx_pb6 &uart5_rx_pb5>;
	pinctrl-names = "default";
	current-speed = <115200>;
	status = "okay";
};

/* I2C4 (PB8-SCL, PB7-SDA) */
&i2c4 {
	pinctrl-0 = <&i2c4_scl_pb8 &i2c4_sda_pb7>;
	pinctrl-names = "default";
	status = "okay";
	clock-frequency = <I2C_BITRATE_FAST>; /* 400kHz */

	/* M24C64 EEPROM - 64Kbit (8KB) */
	eeprom0: m24c64@50 {
		compatible = "atmel,at24";
		reg = <0x50>;
		size = <8192>; /* 8KB = 64Kbit */
		pagesize = <32>; /* M24C64 has 32-byte page size */
		address-width = <16>; /* 16-bit addressing for 8KB */
		timeout = <5>;
	};
};

/* SDMMC1 (PC8-D0, PC9-D1, PC10-D2, PC11-D3, PD2-CMD, PC12-CK, PA8-DT) */
&sdmmc1 {
	status = "disabled";
};

/* USB OTG HS (PA9-VBUS, PA11-DM, PA12-DP) */
zephyr_udc0: &usbotg_hs {
	pinctrl-0 = <&usb_otg_hs_dm_pa11 &usb_otg_hs_dp_pa12>;
	pinctrl-names = "default";
	status = "okay";

	hid_0: hid_0 {
		compatible = "zephyr,hid-device";
		label = "HID_KEYBOARD";
		protocol-code = "keyboard";
		in-report-size = <8>;
		out-report-size = <1>;
		in-polling-period-us = <1000>;
		out-polling-period-us = <1000>;
	};
};

/* RTC with LSE as clock source */
&rtc {
	clocks = <&rcc STM32_CLOCK_BUS_APB4 0x00010000>,
		 <&rcc STM32_SRC_LSE RTC_SEL(1)>; /* Use LSE instead of LSI */
	status = "okay";
};

/* Backup SRAM */
&backup_sram {
	status = "okay";
};

/* Random Number Generator */
&rng {
	status = "okay";
};

/* Flash partitions */
&flash0 {
	partitions {
		compatible = "fixed-partitions";
		#address-cells = <1>;
		#size-cells = <1>;

		slot0_partition: partition@0 {
			label = "image-0";
			reg = <0x00000000 DT_SIZE_K(1024)>;
		};
	};
};

/* Disable unused peripherals */

/* Disable USART2 (not used) */
&usart2 {
	status = "disabled";
};

/* Disable USART3 (not used) */
&usart3 {
	status = "disabled";
};

/* Disable LPUART1 (not used) */
&lpuart1 {
	status = "disabled";
};

/* Disable I2C1 (using I2C4 instead) */
&i2c1 {
	status = "disabled";
};

/* Disable SPI1 (not used) */
&spi1 {
	status = "disabled";
};

/* Disable Ethernet (not used) */
&mac {
	status = "disabled";
};

&mdio {
	status = "disabled";
};

/* Disable FDCAN1 (not used) */
&fdcan1 {
	status = "disabled";
};
